{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'base.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'gallery.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'contacts.css' %}" rel="stylesheet">
    <title>Facets</title>
</head>
<body>
<main class="main-content" id="main-content" role="main">
    <div class="wrapper">
        <section class="section-snap fixed">
            <div class="half uno">
                <div class="half-wrap div-snap">
                    <div class="event-animation">

                    </div>
                </div>
            </div>
            <div class="half due">
                <div class="half-wrap">
                    <article class="event-info">
                        <div class="lang-wrap">
                            <h4 class="lang">
                                <a {% if lang == 'ru' %} class="active" {% endif %} href="/ru">RUS</a>
                            </h4>
                            <h4 class="lang">
                                <a {% if lang == 'en' %} class="active" {% endif %} href="/en">ENG</a>
                            </h4>
                        </div>
                        <div class="logo-wrap">
                            <a href="/"><img class="logo" src="{% static 'img/logo.png' %}" title="Логотип Facets"
                                             alt="Логотип Facets"></a>
                        </div>
                        <h1>Выставка документальной иллюстрации</h1>
                        <p>FACETS/ГРАНИ - выставка студентов-иллюстраторов Британской Высшей Школы Дизайна, посвященная
                            документальным формам иллюстрации.</p>
                        <p>Художник воспринимает реальность через призму своего опыта и личных качеств, поэтому даже
                            документальные работы изображают ее в преобразованном виде. Выставка посвящена
                            документальным формам иллюстрации:</p>
                        <ul class="dashed">
                            <li>портрет</li>
                            <li>наблюдения и зарисовки</li>
                            <li>автобиографические работы</li>
                            <li>репортаж</li>
                        </ul>
                        <p>Каждая из этих форм - это грань реальности, отраженная и преобразованная авторским взглядом
                            художника.</p>
                        <p>Наша выставка FACETS/ГРАНИ - размышление о гранях художественного восприятия, границах между
                            личным и объективным, о многогранности жанра документальной иллюстрации и о том, как
                            разнообразны формы, которые принимает реальность в глазах смотрящего.</p>
                        <div class="artists">
                            <h1>Художники</h1>
                            <div class="column">
                                {% for a in artists_half1 %}
                                    <div class="artist">
                                        <h5>{% if lang == 'en' %}
                                            {{ a.name_en }}
                                        {% else %}
                                            {{ a.name_ru }}
                                        {% endif %}
                                        </h5>
                                        {% if a.behance %}
                                            <a class="f" style="background-image: url('static/img/icon_small_1.png')">{{ a.behance }}</a>
                                        {% endif %}
                                        {% if a.email %}
                                            <a style="background-image: url('static/img/icon_small_2.png')">{{a.email}}</a>
                                        {% endif %}
                                        {% if a.facebook %}
                                            <a style="background-image: url('static/img/icon_small_3.png')">{{a.facebook}}</a>
                                        {% endif %}
                                        {% if a.instagram %}
                                            <a style="background-image: url('static/img/icon_small_4.png')">{{a.instagram}}</a>
                                        {% endif %}
                                        {% if a.tumblr %}
                                            <a style="background-image: url('static/img/icon_small_5.png')">{{a.tumblr}}</a>
                                        {% endif %}
                                        {% if a.vk %}
                                            <a style="background-image: url('static/img/icon_small_6.png')">{{a.vk}}</a>
                                        {% endif %}
                                        {% if a.website %}
                                            <a style="background-image: url('static/img/icon_small_7.png')">{{a.website}}</a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="column">
                                {% for a in artists_half2 %}
                                    <div class="artist">
                                        <h5>{% if lang == 'en' %}
                                            {{ a.name_en }}
                                        {% else %}
                                            {{ a.name_ru }}
                                        {% endif %}
                                        </h5>
                                        {% if a.behance %}
                                            <a class="f" style="background-image: url('static/img/icon_small_1.png')">{{a.behance}}</a>
                                        {% endif %}
                                        {% if a.email %}
                                            <a style="background-image: url('static/img/icon_small_2.png')">{{a.email}}</a>
                                        {% endif %}
                                        {% if a.facebook %}
                                            <a style="background-image: url('static/img/icon_small_3.png')">{{a.facebook}}</a>
                                        {% endif %}
                                        {% if a.instagram %}
                                            <a style="background-image: url('static/img/icon_small_4.png')">{{a.instagram}}</a>
                                        {% endif %}
                                        {% if a.tumblr %}
                                            <a style="background-image: url('static/img/icon_small_5.png')">{{a.tumblr}}</a>
                                        {% endif %}
                                        {% if a.vk %}
                                            <a style="background-image: url('static/img/icon_small_6.png')">{{a.vk}}</a>
                                        {% endif %}
                                        {% if a.website %}
                                            <a style="background-image: url('static/img/icon_small_7.png')">{{a.website}}</a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
    <section class="gallery" role="complementary">
        <div class="header-wrap">
            <h1>Галлерея</h1>
        </div>
        <div class="gallery-wrap">
            <img class="move first" src="{% static 'gallery/1.jpg' %}">
            <img class="move" src="{% static 'gallery/2.jpg' %}">
            <img class="move" src="{% static 'gallery/3.jpg' %}">
            <img class="move" src="{% static 'gallery/4.jpg' %}">
            <img class="move" src="{% static 'gallery/5.png' %}">
            <img class="move" src="{% static 'gallery/6.jpg' %}">
            <img class="move" src="{% static 'gallery/1.jpg' %}">
            <img class="move" src="{% static 'gallery/2.jpg' %}">
            <img class="move" src="{% static 'gallery/3.jpg' %}">
            <img class="move" src="{% static 'gallery/4.jpg' %}">
            <a class="prev"></a>
            <a class="next"></a>
        </div>
    </section>
    <section class="placement" role="complementary">
        <div class="header-wrap">
            <h1>Контактная информация</h1>
        </div>
        <div class="wrapper">
            <div class="map-wrap part">
                <div id="map"></div>
            </div>
            <address class="contact-info part">
                <p>Artplay, SURF coffee</p>
                <p>Нижняя Сыромятническая 10, стр.</p>
                <p>2А, этаж 2</p>
                <h5 id="open">Открытие: 19 мая 19:00</h5>
                <div class="with-icon" id="clock">
                    <h5>20 мая - 28 мая</h5>
                    <h5>11:00 - 22:00</h5>
                </div>
                <h5 class="with-icon" id="phone">+7 [916] 701-01-35</h5>
                <h5 class="with-icon" id="email">bri.nonfiction@mail.ru</h5>
                <div class="sponsors">
                    <img id="surf" src="{% static 'img/icon_surf.png' %}">
                    <img id="bri" src="{% static 'img/icon_bri.png' %}">
                </div>
            </address>
        </div>
    </section>
    <section class="socials" role="complementary">
        <div class="wrapper">
            <img src="{% static 'img/icon_vk.png' %}">
            <img src="{% static 'img/icon_facebook.png' %}">
            <img src="{% static 'img/icon_insta.png' %}">
        </div>
    </section>
    <img class="footer" src="{% static 'img/bottom1.png' %}">
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDToPhVFeRBJSaD6SYsBpmDTuowcmpG120&callback=initMap"></script>
<script src="{% static 'js/scrolling.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
</body>
</html>